
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-md-6 mx-auto text-center">

      <%= image_tag "logo.png", class: "img-fluid", style: "width:250px; height:250px;" %>

      <h1>CV Sensei</h1>
      <h2>Create. Improve. Stand out.</h2>
      <h4>Your next opportunity starts with a stronger CV.</h4>

      <%= link_to "Let’s build it together", cvs_path, class: "btn btn primary" %>

    </div>
  </div>
</div>
